@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex; /* Utilizamos flexbox para colocar los elementos en línea */
  align-items: center; /* Alineamos los elementos verticalmente */
}

.logo img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre el logo y el título */
}

.title {
  color: #fff;
  font-family: "Dancing Script", cursive;
  margin: 0; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* QUINES SOMOS */

.quienes-somos {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center;
  gap: 100px; 
  height: 300px; 
  background-image: linear-gradient(to bottom, #e8d3a9, #ffffff); /* Degradado vertical */  
}

.titulo {
  grid-column: 1 / 2; /* El título ocupa la primera columna */
  margin: 20px;
  font-family: 'Dancing Script';
  font-size: 50px;
}

.parrafo {
  grid-column: 2 / 3; /* El párrafo ocupa la segunda columna */
  text-align: justify;
}

.imagenes {
  grid-column: 3 / 4; /* Las imágenes ocupan la tercera columna */
  display: flex; /* Mostrar las imágenes en línea */

}

.imagenes img {
  max-width: 100px; /* Ajustar el tamaño máximo de las imágenes */
  margin-right: 10px;
  border-radius: 50%;
}

/* SERVICIOS */
.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsivas */
  gap: 20px; /* Espacio entre los servicios */
  margin: 20px; /* Espacio alrededor del contenido */
}

.servicio {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc; /* Borde alrededor de cada servicio */
  border-radius: 10px; /* Bordes redondeados */
}

.servicio i {
  font-size: 36px; /* Tamaño del icono */
  margin-bottom: 10px; /* Espacio entre el icono y el título */
}

.servicio h3 {
  font-family: 'Dancing Script';
  margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

.servicio p {
  margin: 0; /* Eliminar el margen inferior del párrafo */
}
