@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, #89b399, #ffffff); /* Degradado vertical */  
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex; /* Utilizamos flexbox para colocar los elementos en línea */
  align-items: center; /* Alineamos los elementos verticalmente */
}

.logo img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre el logo y el título */
}

.title {
  color: #fff;
  font-family: "Dancing Script", cursive;
  margin: 0; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* QUIENES SOMOS */

.quienes-somos {
  display: grid;
  grid-template-columns: 1fr; 
  align-items: center;
  gap: 20px; 
  height: auto; 
  text-align: center;
  margin: 20px;
}

.titulo {
  font-family: 'Dancing Script';
  font-size: 50px;
}

.parrafo {
  text-align: justify;
}

.imagenes {
  display: flex; /* Mostrar las imágenes en línea */
  justify-content: center;
  gap: 20px;
}

.imagenes img {
  max-width: 100px; /* Ajustar el tamaño máximo de las imágenes */
  border-radius: 50%;
}

/* SERVICIOS */
.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsivas */
  gap: 20px; /* Espacio entre los servicios */
  margin: 20px; /* Espacio alrededor del contenido */
}

.servicio {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc; /* Borde alrededor de cada servicio */
  border-radius: 10px; /* Bordes redondeados */
}

.servicio i {
  font-size: 36px; /* Tamaño del icono */
  margin-bottom: 10px; /* Espacio entre el icono y el título */
}

.servicio h3 {
  font-family: 'Dancing Script';
  margin-bottom: 10px;
  font-size: 30px; /* Espacio entre el título y el párrafo */
}

.servicio p {
  margin: 0; /* Eliminar el margen inferior del párrafo */
}

/* PRODUCTOS */
.productos {
  text-align: center;
  margin: 100px;
  
}

.titulo {
  padding: 20px;
}

.cartas {
  display: flex;
  justify-content: center;
  gap: 20px; /* Ajusta el espacio entre las cartas según sea necesario */
  flex-wrap: wrap; /* Permitir que las cartas se envuelvan en dispositivos pequeños */
  margin-top: 20px;
}

.carta {
  width: 200px; /* Ancho fijo para cada carta */
  height: 200px; /* Altura fija para mantener la carta cuadrada */
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px; /* Espacio entre cada fila de cartas */
  overflow: hidden; /* Evitar que las imágenes se desborden */
}

.carta img {
  width: auto; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px; 
}


.carta img {
  width: 100%; /* Asegurar que la imagen llene todo el espacio */
  height: 100%; /* Asegurar que la imagen llene todo el espacio */
  object-fit: cover; /* Escalar la imagen para que cubra todo el espacio disponible */
  border-radius: 10px; /* Mantener el borde redondeado */
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.contenido-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#popup-titulo{
  font-family: 'Dancing Script';
  font-size: 40px;
  text-align: center;
}

#popup-descripcion{
  text-align: justify;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  z-index: 999; /* Asegura que el footer esté por encima del contenido */
}

.redes-sociales a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.redes-sociales a:hover {
  color: #ccc;
}

.redes-sociales i {
  font-size: 24px;
}

p {
  margin: 10px 0 0;
}



/* WHATSAAP BOTON */
.whatsapp-container {
  text-align: center;
  margin-top: 20px;
}

.whatsapp-button {
  background-color: #25d366;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

.whatsapp-button i {
  margin-right: 10px;
}

